name: Terraform CI (formatting only)

on:
  push:
    paths:
      - "infra/terraform/**"
      - ".github/workflows/terraform-dev-ci.yml"
  pull_request:
    paths:
      - "infra/terraform/**"
      - ".github/workflows/terraform-dev-ci.yml"

permissions:
  contents: read

jobs:
  terraform_fmt:
    runs-on: ubuntu-latest

    defaults:
      run:
        working-directory: infra/terraform

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Setup Terraform
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: latest

      - name: Terraform fmt (check)
        run: terraform fmt -check -recursive
